.vision {
    margin: 120px auto 120px auto;
}

.visionHeader {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.visionText {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 75%;
}